body {
    font-family: nintendo;
}

li.item-nav {
    display: none;
}

ul.IndexPage-toolbar-action {
    display: none;
}

li.item-tags {
    display: none;
}

span.DiscussionListItem-count {
    display: none;
}

li.item-terminalPost {
    display: none;
}

a.DiscussionListItem-author {
    display: none;
}

header.Hero.WelcomeHero {
    display: none;
}

@font-face {
    font-family: nintendo;
    src: url(/guilhem/fonts/dogica.otf)
}
